.login-container {
    height: 50%;
    width: 50%;
    border: 2px solid green;
    padding: 2px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:10%;
    float:left;
}

#login-container-id {
    height: 50%;
    width: 50%;
    padding: 2px;
    margin-left: 23%;
    position: relative;
    font-family: cursive;
}

#login-container-id > div {
    padding: 7px;
}

#login-globe-right {
    margin: 3%;
    float: right;
}

#login-globe-left {
    margin: 3%;
    float: left;
}

.login-footer {
    display: block;
    height: 70px;
    float: left;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: green;
    margin-top:47%;
}

.login-footer > p {
    display: block;
    margin-top: 2%;
    margin-left: 44%;
    color:#ffffff;
}

#login-button {
    border-radius: 3px;
    margin-left: 44%;
    background-color: green;
    text-decoration-color: #ffffff;
    width: 6em;
    height: 3em;
    font-size: 13px;
    color:#ffffff;
}

.home-menu-bar {
    position: relative;
    margin: 5px;
    display: block;
    height:41px;
}

.home-menu-items {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    cursor:pointer
}

li:hover, li:active {
    background-color: #7A991A;
}

body {
    height:100%;
    width:100%;
}